.button {
  background-color: $color-default-2;
  border: 1px solid lighten($color-default-3, 10);
  border-radius: 2px;
  color: $color-white;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.4s;

  &:hover {
    box-shadow: 0 0.1rem 1rem rgba($color-white, 0.1);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  &--icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 3rem;
    padding: 0.8rem;
    width: 3rem;

    span {
      color: $color-white;
      font-size: 0.8rem;
    }
  }

  &--transparent {
    background-color: transparent;
    border: none;
    color: $color-background;
    transform: translateY(0);
    transition: all 0.4s;

    &:hover {
      background-color: rgba($color-default-1, 0.1);
      box-shadow: none;
      transform: translateY(0);
    }
  }
}
