.task {
  height: 100%;
  user-select: none;

  &__item {
    background-color: $color-white;
    border-radius: 0.3rem;
    color: $color-background;
    cursor: move;
    padding: 1rem 1.5rem;

    p {
      font-size: 1.1rem;
      margin-top: 0.6rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &--red {
      border-left: 3px solid $color-red;
    }

    &--yellow {
      border-left: 3px solid $color-yellow;
    }

    &--green {
      border-left: 3px solid $color-green;
    }

    &--purple {
      border-left: 3px solid $color-purple;
    }
  }
}
