// FONT
$default-font-size: 1.4rem;

// COLORS
$color-white: #ffffff;
$color-background: #1c2033;

$color-primary: #2b2d41;
$color-secondary: #3b3f52;
$color-default-1: #25293a;
$color-default-2: #343947;
$color-default-3: #2e3343;

$color-red: #d2597b;
$color-yellow: #d4a045;
$color-green: #5bb8a2;
$color-purple: #9b46b3;
